ion-app {
 height: 100%;
}

main {
  all: unset;
}

div.header {
  background-color: #77B0AA;
}

ion-segment {
  display: flex;
  height: 91px;
  width: 50%;
  margin: auto;
}

.info-area {
  display: flex;
  flex-direction: row;

}
